<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>front</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/icons/favicon-16x16.png">
    <!--[if IE]><link rel="shortcut icon" href="/static/img/icons/favicon.ico"><![endif]-->
    <link rel="manifest" href="/static/manifest.json">
    <meta name="theme-color" content="#4DBA87">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="front">
    <link rel="apple-touch-icon" href="/static/img/icons/apple-touch-icon-152x152.png">
    <meta name="msapplication-TileImage" content="/static/img/icons/msapplication-icon-144x144.png">
    <meta name="msapplication-TileColor" content="#000000">
    <link rel="stylesheet" href="/static/app.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css integrity=sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/3f064dd22f.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js integrity=sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link rel="prefetch" href="/static/js/0.3ae4849da189b7831d92.js" as="script">
    <link rel="prefetch" href="/static/js/1.16c9be8d79aa55ec3f81.js" as="script">
    <link rel="prefetch" href="/static/js/2.16b06cccf0ce761c6b99.js" as="script">
    <link rel="prefetch" href="/static/js/3.493c38d10f4cf6b3e194.js" as="script">
    <link rel="prefetch" href="/static/js/4.c395a0e49f7e2d4e1eba.js" as="script">
    <link rel="prefetch" href="/static/js/5.8e1bf94dd5f1141a4320.js" as="script">
    <link rel="prefetch" href="/static/js/6.16569d2c378e47675045.js" as="script">
    <link rel="prefetch" href="/static/js/7.42e43455577f63daf2f7.js" as="script">
    <link rel="prefetch" href="/static/js/8.2c277c5a9e08a0778975.js" as="script">
    <link rel="prefetch" href="/static/js/9.a6a30aba3d226c2bce5a.js" as="script">
    <link rel="prefetch" href="/static/js/10.5a81d2386671bf1919e6.js" as="script">
    <link rel="preload" href=/"static/js/vendor.e2311a22e7476d44f321.js" as="script">
    <link rel="preload" href="/static/js/app.b4bef8ac9436d02a1b9e.js" as="script">
    <link rel="preload" href="/static/js/manifest.aa6e5a4bbdbd8bbd4681.js" as="script">
</head>

<body class="Site">
    <noscript>This is your fallback content in case JavaScript fails to load.</noscript>
    <div id="app" class="Site">
        <app></app>
    </div>
    <script>
        ! function() {
            "use strict";
            const o = Boolean("localhost" === window.location.hostname || "[::1]" === window.location.hostname || window.location.hostname.match(/^127(?:\.(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)){3}$/));
            window.addEventListener("load", function() {
                "serviceWorker" in navigator && ("https:" === window.location.protocol || o) && navigator.serviceWorker.register("service-worker.js").then(function(o) {
                    o.onupdatefound = function() {
                        if (navigator.serviceWorker.controller) {
                            const n = o.installing;
                            n.onstatechange = function() {
                                switch (n.state) {
                                    case "installed":
                                        break;
                                    case "redundant":
                                        throw new Error("The installing service worker became redundant.")
                                }
                            }
                        }
                    }
                }).catch(function(o) {
                    console.error("Error during service worker registration:", o)
                })
            })
        }();
    </script>
    <script type="text/javascript" src="/static/js/manifest.aa6e5a4bbdbd8bbd4681.js"></script>
    <script type="text/javascript" src="/static/js/vendor.e2311a22e7476d44f321.js"></script>
    <script type="text/javascript" src="/static/js/app.b4bef8ac9436d02a1b9e.js"></script>
</body>

</html>